.name-description-parameters {
    font-family: source sans pro;
}
body {
    background-color: #DAFEB7;
}
h1 {
    font-family: Merriweather;
}
.city-parameters {
    text-decoration: underline;
    color: #19231A;
}
#trybe {
    background-color: #A1EF8B;
    padding: 1px;
}
.li1-size {
    font-size: 22px;
}
.li2-size {
    font-size: 19px;
}
.li3-size {
    font-size: 17px;
}