.name-description-parameters {
    font-family: source sans pro;
    position: absolute;
    top: 40%;
    left: 30%;
}
body {
    background-color: #DAFEB7;
}
h1 {
    font-family: Merriweather;
}
.city-parameters {
    text-decoration: underline;
    color: #19231A;
}
#trybe {
    background-color: #A1EF8B;
    padding: 1px;
}
.li1-size {
    font-size: 22px;
}
.li2-size {
    font-size: 19px;
}
.li3-size {
    font-size: 17px;
}
#fotogui {
    float: left;
    padding: 10px;
    background-color: rosybrown;
    
}
.image-container {
    border: 2px solid purple;
    height: 286px;
    position: relative;
}
.my-name {
    text-align: center;
}